$shade-100:#ffffff;
$shade-200:#d2e1ea;
$shade-300:#a5c4d5;
$shade-400:#78a6c0;
$shade-500:#4b88ab;
$shade-600:#386680;
$shade-700:#264456;
$shade-800:#13222b;
$shade-900:#333;

$layout-breakpoint-small: 960px;